.main {
    width: 15em;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 20em;
    margin-top: 0%;
}

.main, .display {
    background-color: black;
    color: white;
}

.display {
    margin-bottom: 0%;
    margin: 0 auto;
    width: 20em;
}
.display, .numbers, .operators, .extra, .bottomNumbers {
    text-align: center;
}

.topNumbers {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.numbers {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);

}
.bottomNumbers {
    display: flex;
}

#zero {
    flex: 0 0 66.666%;
}

#dot { flex: 0 0 33.333%; }

.operators {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
}

.extra {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

button {
    display:block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    border: 1px solid black;
    color: white;
}

#add, #subtract, #multiply, #divide, #equals {
    background-color: orange;
}

#mod, #ac, #del {
    background-color: rgb(147, 146, 146);
}