.main {
    width: 15em;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 13.8em;
    margin-top: 0%;
    text-align: center;
    padding: 0.2;
    margin-bottom: 0%;
}

.main, .display {
    background-color: black;
    color: white;
}

.display {
    margin-bottom: 0%;
    margin: 0 auto;
    width: 13.8em;
}
.display, .numbers, .operators, .extra, .bottomNumbers {
    text-align: center;
}

.topNumbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.numbers {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);

}
.bottomNumbers {
    display: flex;
}

#zero {
    flex: 0 0 62%;
    border-radius: 35px / 90%;
}

#dot { 
    flex: 0 0 30%; 
}

.operators {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
}

.extra {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}


button {
    display:block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    border: 1px solid black;
    color: white;
    margin: 0.2em;
}

#add, #subtract, #multiply, #divide, #equals {
    background-color: orange;
}

#mod, #ac, #del {
    background-color: rgb(147, 146, 146);
    color: black;
}

p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#answer { 
    text-align: right;
    font-size: 40px;
    font-weight: lighter;
}